//Colours
$BRAND_COLOR_1: #ff5;
$BRAND_COLOR_2: #555;

//Spacing
$VERTICAL_SPACING: 16px;
$HORIZONTAL_SPACING: 16px;
$VERTICAL_SPACING_SMALL: 8px;
$HORIZONTAL_SPACING_SMALL: 8px;

//Grid
$TOTAL_COLUMNS: 12;

//Devices
$DEVICE_SMALL: device-small;
$DEVICE_MEDIUM: device-medium;
$DEVICE_LARGE: device-large;
$SMALL_DEVICE_MAX_WIDTH: 767px;
$MEDIUM_DEVICE_MAX_WIDTH: 1023px;
$LARGE_DEVICE_MAX_WIDTH: 3200px;

//Typography
$FONT_COLOR_1: $BRAND_COLOR_2;